@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply leading-[normal] m-0;
}

*,
::before,
::after {
    border-width: 0;
}

@media (max-width: 600px) {

    /* Styles for screens smaller than 600px */
    .container {
        max-width: 100%;
        padding: 10px;
    }
}

body {
    background-image: url("/rectangle@2x.png");
    background-repeat:no-repeat;
    background-position: center center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}